* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
}

#ctx {
    cursor: none;
}

#minimap {
    position: absolute;
    bottom: 0;
    right: 0;
}

#mapRandButton {
    display: none;
}
